<div class="relative row-start-5 col-span-full">
  <form class="absolute bottom-0 left-0 w-full p-4 bg-white" hx-on::after-request="js: this.reset(), location.reload()" hx-encoding='multipart/form-data' hx-target="#fin" hx-post="/docs/upload">
      <label for="file" class="block text-sm font-medium leading-6 text-gray-900">Upload</label>
      <div class="relative mt-2 rounded-md shadow-sm">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <span class="text-gray-500 sm:text-sm">&#128462;</span>
        </div>
        <input type="file" name="file" id="file" required
          class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          placeholder="Upload a file">
        <div class="absolute inset-y-0 right-0 flex items-center">
          <label for="send" class="sr-only">File</label>
          <input type="submit" id="send" name="send"
            class="h-full rounded-md border-0 bg-sky-700 py-0 pl-2 pr-7 text-white focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" />
          <input type="hidden" id="fin" />
        </div>
      </div>
  </form>
</div>
