<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.tailwindcss.com"></script>
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
      <title>Resum.ai</title>
    </head>
    <body>
      <div class="bg-white">
        {{> header }}
      
        <div class="relative isolate px-6 pt-14 lg:px-8">
          <h1 class="text-3xl font-bold underline">this is the main layout hbs template </h1>
          {{{body}}}
        </div>
      </div>
    </body>
  </html>