<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
      <link href="output.css" rel="stylesheet">
      <title>Resum.ai</title>
    </head>
    <body class="h-screen">
      {{> header }}

      <div class="relative isolate pt-14 px-6 lg:px-8 container h-full m-auto grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8  grid-rows-5 gap-4 bg-white">

        {{{body}}}

      </div>

      {{> footer }}
    </body>
  </html>